apiVersion: v1
kind: Service
metadata:
  name: {{ include "iq-webhook-listener.fullname" . }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: {{ include "iq-webhook-listener.name" . }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  type: {{ .Values.service.type }}
